
<a class="btn btn-link mr-2" routerLink="/admin">
  <fa-icon [icon]="faArrowLeft"></fa-icon>
  <span>Back</span>
</a>
<button class="btn btn-link mr-2" (click)="refresh$.next(true)">
  <fa-icon [icon]="faSync"></fa-icon>
  <span>Refresh</span>
</button>

<div *ngIf="!!game" class="d-flex">
  <h2>Observe {{game.allowTeam ? 'Teams' : 'Players'}}</h2>
  <a *ngIf="!!gid" class="btn btn-link mr-2 align-self-center" [routerLink]="['/admin/observer/challenges', gid]">
    <span>Observe Challenges</span>
  </a>
</div>
<div class="row">
  <div class="input-group mt-2 mb-3 col-5">
    <div class="input-group-prepend">
      <span id="search-label" class="input-group-text">Search</span>
    </div>
    <input id="search-input" type="search" class="form-control" #search (input)="typing$.next(search.value)"
      aria-label="search term" aria-describedby="search-label" placeholder="term">
  </div>
  <div class="input-group mt-2 mb-0 ml-auto col-5">
    <div id="feedbackType-input" #selectType class="btn-group mb-2 ml-auto" btnRadioGroup name="sortType" tabindex="0"
      [(ngModel)]="sort" [ngModelOptions]="{updateOn: 'change'}">
      <label class="btn btn-outline-dark btn-md text-white" btnRadio="byName">
        <fa-icon [icon]="faSortAlphaDown"></fa-icon>
        Name
      </label>
      <label class="btn btn-outline-dark btn-md text-white" btnRadio="byRank">
        <fa-icon [icon]="faSortAmountDown"></fa-icon>
        Rank
      </label>
    </div>
  </div>
</div> <!-- end row for search and filtering -->

<!-- Table of challenges -->
<div class="breakout bg-dark">
  <div *ngIf="!!game" class="row mx-0 py-2">
    <h4 class="col-3 text-left pl-3">{{game.allowTeam ? 'Team' : 'Player'}}</h4>
    <h4 class="col-1 text-right">Rank</h4>
    <h4 class="col-2 text-right">Game Score</h4>
    <h4 class="col-3 text-right p-0">Cumulative Time</h4>
    <h4 class="col-3 text-right pl-0">Console</h4>
  </div>
  <div class="d-flex flex-column">
    <ng-container *ngIf="(!!table.size || !isLoading) && {actors: fetchActors$ | async, term : (term$ | async) ?? ''} as updates; else loading">
      <div *ngFor="let row of table | keyvalue: sortByName; trackBy: trackByTeamId;" [class]="row.value.pinned ? 'pinned' : ''"
        [ngStyle]="{'order': row.value.rank | observeorder:row.value.pinned:sort:maxRank }">
        <ng-container *ngIf="row.value | matchesterm:updates.term:'approvedName':'teamId'">
          <div class="row mx-0 border-top border-light py-2">
            <div class="col-3 align-self-center pl-1 pr-0 text-left">
              <button class="mr-1 btn btn-sm border-0" [class]="row.value.pinned ?  'btn-outline-success' : 'btn-outline-light'" 
                (click)="togglePinRow(row.value)">
                <fa-icon class="pin-icon" [icon]="faAngleDoubleUp" [rotate]="row.value.pinned ? 90 : undefined"></fa-icon>
              </button>
              <span class="text-break">{{row.value.approvedName}}</span>
              <span *ngIf="!!game?.allowTeam" class="ml-3">
                {{row.value.members.length}}
                <fa-icon [icon]="faUsers"></fa-icon>
              </span>
            </div>
            <div class="col-1 align-self-center text-right pl-0">{{row.value.rank}}</div>
            <div class="col-2 align-self-center text-right">{{row.value.score | number}}</div>
            <div class="col-3 align-self-center text-right">{{row.value.time | clock }}</div>
            <div class="col-3 align-self-center text-right">
              <button class="btn btn-sm" [class]="row.value.expanded ? 'btn-success' : 'btn-outline-success' "
                (click)="toggleShowConsole(row.value)">
                <fa-icon [icon]="faGrid"></fa-icon>
              </button>
            </div>
          </div> <!-- end main challenge row -->
          <ng-container *ngIf="row.value.expanded">
            <div class="row mx-0 mt-1" [class.justify-content-center]="!game?.allowTeam">
              <ng-container *ngFor="let member of row.value.members;">
                <div *ngIf="!member.minimized && {vm: updates.actors?.get(member.id)} as user" class="p-2 vm-console" 
                  [class]="member.fullWidth ? 'col-12' : 'col-4'">
                  <div class="rounded border border-success h-100 d-flex flex-column">
                    <div class="mt-1 ml-1 mx-0 px-0 d-flex justify-content-between">
                      <div class="mx-1 px-0 text-center align-self-center">
                        <span class="m-1 text-success text-break">{{member.approvedName}}</span>
                        <button class="btn btn-outline-success btn-sm px-2 py-1 border-0" (click)="go(member)">
                          <fa-icon [icon]="faExternalLinkAlt"></fa-icon>
                        </button>
                      </div>
                      <div class="mx-0 px-0 text-right">
                        <button class="btn btn-outline-success btn-sm px-2 py-1 border-0 ml-1" (click)="minimizeAllOthers(member, row.value)">
                          <fa-icon [icon]="faWindowRestore"></fa-icon>
                        </button>
                        <button class="btn btn-outline-success btn-sm px-2 py-1 border-0 ml-1" (click)="toggleMinimize(member)">
                          <fa-icon [icon]="faMinusSquare"></fa-icon>
                        </button>
                        <button class="btn btn-outline-success btn-sm px-2 py-1 border-0 mr-1" (click)="toggleFullWidth(member)">
                          <fa-icon [icon]="member.fullWidth ? faCompressAlt : faExpandAlt"></fa-icon>
                        </button>
                      </div>
                    </div> <!-- end console header -->
                    <div *ngIf="user.vm" class="mx-1 mb-1 p-0 text-left" >
                      <span class="badge badge-success m-1 text-break text-dark">
                        <fa-icon class="pr-1" [icon]="faTv"></fa-icon>
                        {{user.vm.vmName}}
                      </span>
                      <span class="m-1 text-break text-success">
                        {{user.vm.challengeName}}
                      </span>
                  </div> <!-- end challenge and console info header -->
                    <div class="iframe-wrapper mt-auto" style="padding: 0px;">
                      <iframe *ngIf="user.vm; else empty;" class="rounded-bottom" frameborder="0"
                        [src]="(mksHost+'?f=0&o=1&u='+member.id) | safeurl">
                      </iframe>
                    </div> <!-- end iframe wrapper -->
                  </div>
                </div>
              </ng-container>
            </div> <!-- end row for console grid -->
            <div class="mx-0 mb-2 d-flex flex-wrap">
              <ng-container *ngFor="let member of row.value.members;">
                <div *ngIf="member.minimized" class="m-0 p-2">
                  <button class="btn btn-outline-success btn-sm p-2 w-100" (click)="toggleMinimize(member)">
                    <div *ngIf="updates.actors?.get(member.id)" class="float-left">
                      <fa-icon [icon]="faTv" ></fa-icon>
                    </div>
                    <span class="mx-3">{{member.approvedName}}</span>
                    <fa-icon [icon]="faPlusSquare" class="float-right"></fa-icon>
                  </button>
                </div>
              </ng-container>
            </div> <!-- end row for minimized list -->
          </ng-container> <!-- end expanded section of row -->
        </ng-container>
      </div> <!-- end loop of team data from table -->
    </ng-container>
  </div>
</div> <!-- end table of challenges -->


<ng-template #empty>
  <div class="text-center text-light pt-3 rounded-bottom" id="empty-iframe">
    User has not joined a console yet.
  </div>
</ng-template>

<ng-template #loading>
  <div class="text-center">
    <app-spinner></app-spinner>
  </div>
</ng-template>
