
.group-count {
  font-size: 70%;
}
.group-badge {
  font-weight: 800;
  text-transform: uppercase;
  border-radius: 2px;
}
.group-line {
  width: 90%;
  margin: auto;
  border-bottom: 2px solid;
}

.overlay {
  position: absolute;
  top: 0rem;
  bottom: 0rem;
  left: 0rem;
  right: 0rem;
  border-radius: .25rem;
  background-color: rgba(black, .8);
  z-index: 10;
}
.open-button {
  padding: 2rem 1rem;
}
