@import '../../../scss/variables';

.fixed {
  height: 75vh;
  position: relative;
  // display: flex;
}

.browser {
  display: inline-block;
  position: relative;
  width: 25%;
  height: 75vh;
  overflow-y: scroll;

}
.detail {
  display: inline-block;
  position: relative;
  width: 75%;
  height: 75vh;
  overflow-y: scroll;
}
.clickable {
  cursor: pointer;
  padding: .5rem;
}
.clickable:hover {
  background-color: darkslategrey;
}
.clicked {
  background-color: darken(darkslategrey, 5%);
}

// scroll bar to match theme
::-webkit-scrollbar {
  border-radius: 0.25rem;
  background: $black; 
}
::-webkit-scrollbar-thumb {
  background: $dark; 
}
::-webkit-scrollbar-thumb:hover {
  background: darken($dark, 5%)
}
