.stack {
  position: relative;
}
.stack-0 {
  position: relative;
}
.stack-1 {
  left: 12px;
}
.stack-2 {
  left: 24px;
}
.stack-3 {
  left: 36px;
}
.stack-4 {
  left: 48px;
}
.stacked {
  position: absolute;
}
.unstacked {
  position: relative !important;
  left: 0;
}
