
.list > div {
  border-radius: 0;
  border: 1px solid #222;
  border-top:0;
}
.list > div:first-child {
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
  border-top: 1px solid #222;
}
.list > div:last-child {
  border-bottom-left-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
}

.summary-break {
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;
}

// .expand {
//   max-width: 1400px;
// }
