.jumbotron {
  img {
    max-height: 224px;
  }
  a {
    font-size: 1.3rem;
  }
}
.panel {
  // max-width: 600px;
  margin: 16px;
  padding: 16px;
  // min-width: 360px;
  // max-width: 480px;
}
.scoreboard {
  min-height: 600px;
}
.max-half {
  max-width: 50%;
}
