
.game-art {
  max-height: 15rem;
}

.game-header {
  border-bottom: 1px solid #363636;
}

.card {
  box-shadow: rgb(0 0 0 / 15%) 3px 3px 0;
  max-width: 240px;
  max-height: 360px;
  margin: 0;
  border-radius: 0;
  border: 0;
}

.mode-logo {
  max-height: 38px;
}

.badge-tag {
  background: rgba(0, 0, 0, 0.5);
}

.badge-unpublished {
  background: white;
  color:rgba(0, 0, 0, 0.7);
}

.game-front {
  z-index: 2;
}

.game-type {
  font-size: 0.85rem;
}

.sash-time {
  font-size: 1rem;
}

.game-tag-bg h1 {
  font-family: "Impact", sans-serif;
  font-weight: 900;
  text-transform: uppercase;
  font-size: 3.85rem;
  line-height: 1.1;
}

.upper {
  text-transform: uppercase;
}
