<a class="btn btn-link" routerLink="../">
  <fa-icon [icon]="faArrowLeft"></fa-icon>
  <span>Back</span>
</a>

<h2>Certificates</h2>
<div class="row mx-0 mb-1">
  <div class="col-3">Game</div>
  <div class="col-2">Rank</div>
  <div class="col-4">Leaderboard Name</div>
  <div class="col-2 text-right ml-auto">Certificate</div>
</div>
<ng-container *ngIf="certs$ | async as certs; else loading">
  <div *ngFor="let cert of certs" class="row rounded bg-secondary mb-1 mx-0 py-2">
    <div class="col-3 d-flex flex-wrap">
      <div class="ml-2">
        <a class="btn btn-link p-0 text-left" [routerLink]="['/', 'game', cert.game.id]"><span class="mr-2 h5">{{cert.game.name}}</span></a>
        <div class="text-muted">
          <span> {{cert.game.gameEnd | shortdate}}</span>
        </div>
      </div>
    </div>
    <div class="col-2 align-self-center">
      <span class="mr-4">{{cert.player.rank}} <fa-icon [icon]="faMedal"></fa-icon></span>
    </div>
    <div class="col-4 align-self-center">
      <span class=""><fa-icon [icon]="cert.game.allowTeam ? faUsers : faUser"></fa-icon> {{cert.player.approvedName}}</span>
    </div>
    <div class="col-2 align-self-center text-right ml-auto">
      <button *ngIf="true" class="btn btn-outline-success btn-sm ml-1" (click)="print(cert.html)">
        <fa-icon [icon]="faPrint"></fa-icon>
        <span>Print</span>
      </button>
    </div>
  </div> 
  <div *ngIf="!certs?.length" class="text-center text-muted my-4">
    No certificates yet
  </div>
</ng-container>

<ng-template #loading>
  <div class="text-center">
    <app-spinner></app-spinner>
  </div>
</ng-template>
