label {
  margin-bottom: 0;
}
.dropzone {
  height: 360px;
  width: 240px;
}
.section-header {
  font-weight: 300;
  cursor: pointer;
  span {
    font-size: 2rem;
  }
}
.section {
  margin-bottom: 2rem;
}
.cert-info {
  font-size: 87.5%;
}
