.loading-unity {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.unity-container {
    aspect-ratio: 16 /10;
    max-height: 100vh;
    width: 100%;
}

iframe {
    height: 100%;
    width: 100%;
}

.connecting-to-host {
    text-transform: uppercase;
    font-size: 0.8rem;
    text-align: center;
}