<ng-container *ngIf="unityActiveGame; else loadingUnity">
    <div class="unity-container">
        <iframe [src]="unityClientLink" id="unity-game-window" title="Unity Game Window" frameborder="0"
            scrolling="no"></iframe>
    </div>
</ng-container>

<ng-template #loadingUnity>
    <div class="loading-unity" *ngIf="!isError">
        <app-spinner></app-spinner>

        <p *ngIf="isGamespaceProvisioned">Connecting to {{ unityHost }}...</p>
        <app-unity-team-leader-waiting-room context="this.ctx" *ngIf="!isGamespaceProvisioned" (hasGame)="onHasGame">
        </app-unity-team-leader-waiting-room>
    </div>
</ng-template>